.box {
  max-width: 420px;
  height: 520px;
  margin: 40px auto;
  border-radius: 15px;
  border: solid black;
  background-image: url(media/background.jpg);
  background-size: cover;
}
.search {
  border: none;
  margin: 10px;
  border-color: transparent;
  background-color: transparent;
}
